__pycache__/*
*.swp
data/*
hypos/*
logs/*
saves/*
*.pt
README.txt
CL/*
NumbersTrainingset
audio
data
data_test
data_filtered
data_filtered_test
data_numbers
data_numbers_human
scripts
speech-datasets
data_impairedSpeech
convert_hypos/outputs_convert.pt
scores/*
all_number_scores.txt
data_numbers_human_train/*
hypos*/*
data*/*
LT_CL/data*
LT_CL/last_run_day_*
